{
  "development": {
    "username": "postgres",
    "password": "postgres",
    "database": "chat-db-development",
    "host": "localhost",
    "port": 5432,
    "dialect": "postgres",
    "operatorsAliases": false
  },
  "staging": {
    "username": "test",
    "password": "",
    "database": "",
    "host": "",
    "port": 5432,
    "dialect": "test"
  }
}